body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


.start > button{

 border: none;
 background-color: rgb(163, 106, 0);
 padding: 20px;
 border-radius: 20px;
 font-family: 'Press Start 2P', cursive;
 font-size: 1rem;
 border: 8px solid black;

}
.info-icon{
 
  color: rgb(241, 241, 241);
    font-family: "Square Peg", cursive;
    font-weight: 800;
    font-style:normal;
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 0;
   padding: 0px;
   gap: 2px;
   transition: 2s;
}
.infosvg{
 height: 40px;
 width: 40px;
 border-radius: 60px;
 cursor: pointer;
}
.notes{
background-color: #fffae6;
padding: 10px;
width: 80%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
border: 8px solid black;
border-radius: 15px;
position: absolute;
left: 160px;
display: none;
}


@media (min-width: 412px) and (max-width: 1200px) {

  .container {
    display: block;
    width: 100%;
    height: 100vh;
    margin-top: 500px;
    
  }
  .notes{

    width: 40%;

    display: none;
    }
  .btn {
    margin: 15px;
    display: inline-block;
    height: 210px;
    width: 210px;
    border: 10px solid black;
    border-radius: 20%;
  }
  .start > button{

    border: none;
    background-color: rgb(163, 106, 0);
    padding: 40px;
    border-radius: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    border: 8px solid black;
  }   

  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    margin:  5%;
    color: #FEF2BF;
  }
}

