body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


.start > button{

 border: none;
 background-color: rgb(163, 106, 0);
 padding: 20px;
 border-radius: 20px;
 font-family: 'Press Start 2P', cursive;
 font-size: 1rem;
 border: 8px solid black;

}



@media (min-width: 481px) and (max-width: 1200px) {
  .btn {
    margin: 18px;
    display: inline-block;
    height: 120px;
    width: 120px;
    border: 10px solid black;
    border-radius: 20%;
  }
  .start > button{

    border: none;
    background-color: rgb(163, 106, 0);
    padding: 10px;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.5rem;
    border: 8px solid black;
  }   

  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    margin:  5%;
    color: #FEF2BF;
  }
}

@media (min-width: 319px) and (max-width: 480px) {
  body {
    background-color: lightsalmon;
  }
}